<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
       <div class="card mb-0">
          <div style="margin: 10px;">
             <div class="flex justify-content-between mb-3">
                <div>
                   <span class="block text-500 font-medium mb-3">Tokens Vendidos</span>
                   <div class="text-900 font-medium text-xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                   <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
             </div>
             <span class="text-green-500 font-medium">32 más </span>
             <span class="text-500">que el ultimo es</span>
          </div>
       </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
       <div class="card mb-0">
          <div style="margin: 10px;">
             <div class="flex justify-content-between mb-3">
                <div>
                   <span class="block text-500 font-medium mb-3">Examenes Realizados</span>
                   <div class="text-900 font-medium text-xl">24 más </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                   <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
             </div>
             <span class="text-green-500 font-medium">24 más </span>
             <span class="text-500">que el último mes</span>
          </div>
       </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
       <div class="card mb-0">
          <div style="margin: 10px;">
             <div class="flex justify-content-between mb-3">
                <div>
                   <span class="block text-500 font-medium mb-3">Errores</span>
                   <div class="text-900 font-medium text-xl">20</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                   <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
             </div>
             <span class="text-green-500 font-medium">3  </span>
             <span class="text-500">sin resolver</span>
          </div>
       </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
       <div class="card mb-0">
          <div style="margin: 10px;">
             <div class="flex justify-content-between mb-3">
                <div>
                   <span class="block text-500 font-medium mb-3">Clientes</span>
                   <div class="text-900 font-medium text-xl">52 en total</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                   <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
             </div>
             <span class="text-green-500 font-medium">3 </span>
             <span class="text-500">nuevos</span>
          </div>
       </div>
    </div>
    <div class="col-12 xl:col-12">
       <div class="card">
          <p-table #dt [value]="clients" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" [globalFilterFields]="['attributes.name']">
          <ng-template pTemplate="caption">
             <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lista de clientes</h5>
                <form [formGroup]="SearchForm" class="p-input-icon-left">
                   <i class="pi pi-search"></i>
                   <input formControlName="param" pInputText type="text" placeholder="Buscar..." />
                </form>
             </div>
          </ng-template>
          <ng-template pTemplate="header">
             <tr>
                <th>Nombre</th>
                <th>Tokens</th>
                <th>Tokens Usados</th>
                <th>Menú</th>
             </tr>
          </ng-template>
          <ng-template pTemplate="body" let-client>
             <tr (click)="selectClient(client)">
                <td>{{client.attributes.name}}</td>
                <td>{{client.attributes.tokens}}</td>
                <td *ngIf="client.attributes.usedTokens==null">0</td>
                <td *ngIf="client.attributes.usedTokens!=null">{{client.attributes.usedTokens}}</td>
                <td>
                   <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-text p-button-secondary" (click)="menu2.toggle($event)"></button>
                   <p-menu #menu2 appendTo="body" [popup]="true" [model]="items"></p-menu>
                </td>
             </tr>
          </ng-template>
          </p-table>
          <div class="flex justify-content-between pt-3" style="margin-bottom: 10px; margin-right: 10px;">
             <button (click)="addUserModal=true" [style]="{'border-radius':'10px'}" pButton pRipple label="Nuevo Cliente"  class="w-12 ml-2"></button>
          </div>
       </div>
    </div>
    <div class="col-12 xl:col-6">
       <div class="card">
          <div style="margin:30px;">
             <div class="flex justify-content-between align-items-center mb-5">
                <h5>Mejores Clientes</h5>
             </div>
             <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                      </div>
                      <span class="text-orange-500 ml-3 font-medium">121</span>
                   </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                      </div>
                      <span class="text-cyan-500 ml-3 font-medium">97</span>
                   </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                      </div>
                      <span class="text-pink-500 ml-3 font-medium">58</span>
                   </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                      </div>
                      <span class="text-green-500 ml-3 font-medium">51</span>
                   </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                      </div>
                      <span class="text-purple-500 ml-3 font-medium">50</span>
                   </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                   <div>
                      <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Cliente Demo</span>
                      <div class="mt-1 text-600">correo@demo.com</div>
                   </div>
                   <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                      <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                         <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                      </div>
                      <span class="text-teal-500 ml-3 font-medium">46</span>
                   </div>
                </li>
             </ul>
          </div>
       </div>
    </div>
    <div class="col-12 xl:col-6">
       <div class="card">
          <div style="margin: 30px;">
             <h5>Sales Overview</h5>
             <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
       </div>
       <div  class="card" style="margin-top: 10px;">
          <div style="margin: 30px;">
             <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
             </div>
             <span class="block text-600 font-medium mb-3">TODAY</span>
             <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                   <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                      <i class="pi pi-dollar text-xl text-blue-500"></i>
                   </div>
                   <span class="text-900 line-height-3">Richard Jones
                   <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                   </span>
                </li>
                <li class="flex align-items-center py-2">
                   <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                      <i class="pi pi-download text-xl text-orange-500"></i>
                   </div>
                   <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                </li>
             </ul>
             <span class="block text-600 font-medium mb-3">YESTERDAY</span>
             <ul class="p-0 m-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                   <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                      <i class="pi pi-dollar text-xl text-blue-500"></i>
                   </div>
                   <span class="text-900 line-height-3">Keyser Wick
                   <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                   </span>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                   <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                      <i class="pi pi-question text-xl text-pink-500"></i>
                   </div>
                   <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your product.</span></span>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </div>

 <!-- new client -->
 <p-dialog [(visible)]="addUserModal" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '52vw'}" header="Invita un cliente nuevo" [draggable]="false" [resizable]="false">
 <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
       <h1 class="m-0 text-900 font-semibold text-xl line-height-3">Invita un nuevo cliente</h1>
       <span class="text-600 text-base">Invita a un cliente a dar de alta su empresa.</span>
    </div>
 </ng-template>
 <form class="flex flex-column gap-3 mt-3" [formGroup]="inviteClientForm">
    <div class="flex gap-3">
       <div class="w-full">
          <label for="cvc" class="block mb-1 text-color text-base">{{ 'tests-users-First_Name' | translate }}</label>
          <span class="p-input-icon-left w-full">
          <i class="pi pi-user"></i>
          <input type="text" class="w-full"pInputText pKeyFilter="int" placeholder="Aa..." formControlName="firstName"/>
          </span>
       </div>
    </div>
    <div class="w-full">
       <label for="expiration" class="block mb-1 text-color text-base">{{ 'tests-users-Email' | translate }}</label>
       <span class="p-input-icon-left w-full">
       <i class="pi pi-envelope"></i>
       <input type="text" class="w-full" pInputText placeholder="Aa..." formControlName="email"/>
       </span>
    </div>
 </form>
 <ng-template pTemplate="footer">
    <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
       <button pButton pRipple label="Cancelar" (click)="addUserModal=false" class="p-button-text"></button>
       <button pButton pRipple label="Invitar"  (click)="inviteClient()" class="p-button-rounded"></button>
    </div>
 </ng-template>
 </p-dialog>

 <!-- company info -->
 <p-dialog [(visible)]="companyInformationModal" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '90vw', height: '95vh', margin: '6px'}" header="{{ 'manage-branding-component-TITLE' | translate }}" [draggable]="true" [resizable]="false" [maximizable]="true">
 <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
       <h1 class="m-0 text-900 font-semibold text-xl line-height-3">{{ 'manage-branding-component-TITLE' | translate }}</h1>
       <span class="text-600 text-base">{{ 'manage-branding-component-DESCRIPTION' | translate }}</span>
    </div>
 </ng-template>
 <form [formGroup]="companyInformationForm">
    <p-divider></p-divider>
    <div class="flex gap-5 flex-column-reverse md:flex-row">
       <div class="flex-auto p-fluid">
          <div class="mb-4">
             <label for="email" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-COMPANY_NAME_LABEL' | translate }}</label>
             <input id="email" type="text" pInputText formControlName="name">
          </div>
          <div class="mb-4">
             <label for="company" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-PHONE_NUMBER_LABEL' | translate }}</label>
             <p-inputMask mask="(999) 999-99-99" placeholder="{{ 'manage-branding-component-PHONE_NUMBER_LABEL' | translate }}" formControlName="phone"></p-inputMask>
          </div>
       </div>
    </div>
    <div class="grid formgrid p-fluid" style="margin-top: 10px;">
       <div class="surface-100 mb-3 col-12" style="height:2px"></div>
       <div class="field mb-4 col-12 md:col-6">
          <label for="email" class="font-medium">Tokens Usados</label>
          <input id="email" type="text" pInputText formControlName="usedTokens">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label for="country" class="font-medium">{{ 'manage-branding-component-COUNTRY_LABEL' | translate }}</label>
          <input type="text" pInputText formControlName="country">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">Tokens</label>
          <input type="text" pInputText readonly formControlName="tokensAvailable">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'manage-branding-component-CITY_LABEL' | translate }}</label>
          <input type="text" pInputText formControlName="city">
       </div>
       <div class="surface-100 mb-3 col-12" style="height:2px"></div>
    </div>
    <div class="mb-4">
       <span class="font-semibold text-2xl text-black" style="font-family: 'Poppins', sans-serif;">{{'create-company-BILLING-INFO'|translate}}:</span>
    </div>
    <div class="grid formgrid p-fluid" style="margin-top: 10px;">
       <div class="field mb-4 col-12 md:col-6">
          <label for="email" class="font-medium">{{ 'create-company-BILLING-INFO-RFC' | translate }}</label>
          <input id="email" type="text" pInputText formControlName="RFC" placeholder="{{ 'create-company-BILLING-INFO-RFC-PLACEHOLDER' | translate }}">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label for="country" class="font-medium">{{ 'create-company-BILLING-INFO-ADDRESS1' | translate }}</label>
          <input type="text" pInputText formControlName="direccion1" placeholder="{{ 'create-company-BILLING-INFO-ADDRESS1-PLACEHOLDER' | translate }}">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'create-company-BILLING-INFO-ADDRESS2' | translate }}</label>
          <input type="text" pInputText readonly formControlName="direccion2" placeholder="{{ 'create-company-BILLING-INFO-ADDRESS2' | translate }}">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'create-company-BILLING-INFO-CP' | translate }}</label>
          <input type="text" pInputText formControlName="codigoPostal" placeholder="{{ 'create-company-BILLING-INFO-CP-PLACEHOLDER' | translate }}">
       </div>
       <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'create-company-BILLING-INFO-EMAIL' | translate }}</label>
          <input type="text" pInputText formControlName="billingEmail" placeholder="{{ 'create-company-BILLING-INFO-EMAIL-PLACEHOLDER' | translate }}">
       </div>
    </div>
 </form>
 <ng-template pTemplate="footer">
    <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
       <button pButton pRipple label="{{ 'edit-profile-UNDO-CHANGES' | translate }}" icon="pi pi-replay" (click)="companyInformationModal=false;" class="p-button-text p-button-danger"></button>
       <button pButton pRipple label="{{ 'edit-profile-SAVE' | translate }}" icon="pi pi-save" (click)="postCompanyChanges()" class="p-button-rounded p-button-danger"></button>
    </div>
 </ng-template>
 </p-dialog>