<!-- <div class="p-5 flex flex-column flex-auto">
  <div>
     <form class="surface-card p-4 shadow-2 border-round">
        <div class="text-900 font-semibold text-lg mt-3">Manage Users</div>
        <p-divider></p-divider>

     </form>
  </div>
</div>-->
<p-toast position="top-center" key="ToastKey"></p-toast>

<div style="width: 100vw;">
  <section class="p-5 flex flex-column flex-auto surface-overlay px-4 lg:px-6 py-4 px-4 lg:px-6 border-top-1 surface-border" style="width: 85%;">
    <div class="border-bottom-1 surface-border">
        <h2 class="mt-0 mb-2 text-900 font-bold text-4xl" style="font-family: 'Poppins', sans-serif;">Manage Accounts</h2>
        <p class="mt-0 mb-5 text-700 font-normal text-base">Easily manage user permitions.</p>
    </div>
    <section class="flex flex-wrap gap-3 py-6 justify-content-between surface-border">
        <div class="overflow-x-scroll">
          <p-table [value]="accounts" [rowHover]="true" [tableStyle]="{'min-width': '80vw'}">
            <ng-template pTemplate="header">
               <tr style="font-family: Montserrat, sans-serif;">
                <th>
                   Name
                </th>
                <th>
                   Type
                </th>
                <th>
                   Joined Date
                </th>
                <th>
                  Manage Company
                </th>
                <th>
                  Manage Users
                </th>
                <th>
                  Manage Groups
                </th>
                <th>
                  Manage Courses
                </th>
                <th>
                  Manage Billing
                </th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-account style="font-family: Lato, sans-serif;">
              <tr *ngIf="account.company && account.role.name=='Subaccount'">
                <td>
                  {{account.firstName}} {{account.lastName}}
                </td>
                <td>
                  {{account.role.name}}
                </td>
                <td>
                  {{ account.createdAt | date: 'MMM d, yyyy' }}
                </td>
                <td>
                  <div class="checkbox-wrapper-33 checkboxcenter" *ngIf="account.role.type !== 'principal'">
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" type="checkbox" [checked]="account.mngCompany" (change)="updateUser($event, 'mngCompany', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                  <div class="checkbox-wrapper-33 checkboxcenter" *ngIf="account.role.type == 'principal'">
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" readonly type="checkbox" [checked]="account.mngCompany" (change)="updateUser($event, 'mngCompany', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="checkbox-wrapper-33 checkboxcenter" >
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" type="checkbox" [checked]="account.mngUsers" (change)="updateUser($event, 'mngUsers', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="checkbox-wrapper-33 checkboxcenter" >
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" type="checkbox" [checked]="account.mngGroups" (change)="updateUser($event, 'mngGroups', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="checkbox-wrapper-33 checkboxcenter" >
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" type="checkbox" [checked]="account.mngCourses" (change)="updateUser($event, 'mngCourses', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="checkbox-wrapper-33 checkboxcenter">
                    <label class="checkbox">
                      <input class="checkbox__trigger visuallyhidden" type="checkbox" [checked]="account.mngBilling" (change)="updateUser($event, 'mngBilling', account.id)"/>
                      <span class="checkbox__symbol">
                        <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4 14l8 7L24 7"></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
              </tr>
            </ng-template>
            </p-table>
        </div>
    </section>
    <button pButton pRipple label="Invite a member" class="w-auto" [style]="{'width':'100%'}"></button>
  </section>
</div>
