<section class="surface-overlay px-4 lg:px-6 py-4 px-4 lg:px-6 surface-border">
  <div class="surface-border">
    <h2 class="mt-0 mb-2 text-900 font-bold text-4xl" style="font-family: 'Poppins', sans-serif;">{{ 'edit-profile-TITLE' | translate }}</h2>
    <p class="mt-0 mb-5 text-700 font-normal text-base">{{ 'edit-profile-DESCRIPTION' | translate }}</p>
  </div>
  <section class="flex-wrap justify-content-between">
    <form [formGroup]="profileForm">
      <p-divider></p-divider>
      <div class="flex gap-5 flex-column-reverse md:flex-row">
        <div class="flex-auto p-fluid">
          <div class="mb-4">
            <label for="email" class="block font-normal text-900 mb-2">{{ 'edit-profile-FIRST-NAME' | translate }}</label>
            <input type="text" pInputText formControlName="firstName">
          </div>
          <div class="mb-4">
            <label for="email" class="block font-normal text-900 mb-2">{{ 'edit-profile-LAST-NAME' | translate }}</label>
            <input type="text" pInputText formControlName="lastName">
          </div>
        </div>
        <!-- <div class="flex flex-column align-items-center flex-or">
          <span class="font-normal text-900 mb-2">{{ 'edit-profile-PROFILE-PICTURE' | translate }}</span>
          <img *ngIf="profileForm.value.image" src="{{ profileForm.value.image }}" class="h-10rem w-10rem" style="border-radius: 50%;" />
          <img *ngIf="profileForm.value.image === null" src="https://www.w3schools.com/w3css/img_avatar3.png" class="h-10rem w-10rem" style="border-radius: 50%;" />
          <button pButton type="button" icon="pi pi-pencil" (click)="ShowLogoDialog()" class="p-button-rounded -mt-4"></button>
        </div> -->
      </div>
      <div class="grid formgrid p-fluid" style="margin-top: 10px;">
        <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="state" class="font-medium">{{ 'edit-profile-COMPANY' | translate }}</label>
          <input type="text" pInputText readonly formControlName="company">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'edit-profile-ACCOUNT-TYPE' | translate }}</label>
          <input type="text" pInputText readonly value="{{ 'edit-profile-ACCOUNT-TYPE' | translate }}" formControlName="role">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label class="font-medium">{{ 'edit-profile-EMAIL' | translate }}</label>
          <input type="text" pInputText value="example@mail.com" formControlName="email">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="state" class="font-medium">{{ 'edit-profile-DATE-JOINED' | translate }}</label>
          <input formControlName="dateJoined" type="text" readonly pInputText>
        </div>
      </div>
      <div class="col-12">
        <button pButton pRipple label="{{ 'edit-profile-SAVE' | translate }}" class="w-auto mt-3" icon="pi pi-save" (click)="postChanges()"></button>
        <button pButton pRipple label="{{ 'edit-profile-UNDO-CHANGES' | translate }}" class="w-auto mt-3 shadow-2" icon="pi pi-replay" [style]="{ 'margin-left': '8px' }" (click)="resetForm()"></button>
      </div>
      <p-dialog header="Header" [(visible)]="dialogVisible" [style]="{ width: '80vw' }" [modal]="true">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">{{ 'edit-profile-PROFILE-PICTURE-SETUP' | translate }}</span>
        </ng-template>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
          <div class="flex-auto p-fluid">
            <div class="mb-4">
              <label for="website" class="block font-normal text-900 mb-2">{{ 'edit-profile-IMAGE-URL' | translate }}</label>
              <div class="p-inputgroup">
                <input id="website" type="text" pInputText placeholder="https://example.com/image.jpg">
              </div>
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-save" label="Save Changes" styleClass="p-button-text"></p-button>
          <p-button label="Cancel" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>
    </form>
  </section>
</section>



<!-- toast -->
<p-toast position="top-center" key="myKey1"></p-toast>


<!-- skeleton -->

