<section *ngIf="UILoaded==true"  class="surface-overlay px-4 lg:px-6 py-4 px-4 lg:px-6 border-top-1 surface-border">
    <div class="surface-border">
        <h2 class="mt-0 mb-2 text-900 font-bold text-4xl" style="font-family: 'Poppins', sans-serif;">{{ 'manage-branding-component-TITLE' | translate }}</h2>
        <p class="mt-0 mb-5 text-700 font-normal text-base">{{ 'manage-branding-component-DESCRIPTION' | translate }}</p>
    </div>
    <section class="flex-wrap justify-content-between">
        <div class="flex-column flex-auto">
            <div>
                <form [formGroup]="companyInformation">
                    <p-divider></p-divider>
                    <div class="flex gap-5 flex-column-reverse md:flex-row">
                        <div class="flex-auto p-fluid">
                            <div class="mb-4">
                                <label for="email" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-COMPANY_NAME_LABEL' | translate }}</label>
                                <input id="email" type="text" pInputText formControlName="name">
                            </div>
                            <!-- <div class="mb-4">
                                <label for="website" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-URL_LABEL' | translate }}</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">https://</span>
                                    <input id="website" type="text" pInputText>
                                </div>
                            </div> -->
                            <div class="mb-4">
                                <label for="company" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-PHONE_NUMBER_LABEL' | translate }}</label>
                                <p-inputMask mask="(999) 999-99-99" placeholder="{{ 'manage-branding-component-PHONE_NUMBER_LABEL' | translate }}" formControlName="phone"></p-inputMask>
                            </div>
                        </div>
                        <!-- <div class="flex flex-column align-items-center flex-or">
                            <span class="font-normal text-900 mb-2">{{ 'manage-branding-component-LOGO_SETUP' | translate }}</span>
                            <img *ngIf="companyInformation.value.url == null" src="./assets/img/ilustrations/companyAvatar.webp" class="h-10rem w-10rem"/>
                            <img *ngIf="companyInformation.value.url != null" src="{{companyInformation.value.url}}" class="h-10rem w-10rem"/>
                            <button (click)="ShowLogoDialog()" pButton type="button" icon="pi pi-pencil" class="p-button-rounded -mt-4"></button>
                        </div> -->
                    </div>
                    <div class="grid formgrid p-fluid" style="margin-top: 10px;">
                        <div class="surface-100 mb-3 col-12" style="height:2px"></div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="email" class="font-medium">{{ 'manage-branding-component-EMAIL_LABEL' | translate }}</label>
                            <input id="email" type="text" pInputText formControlName="email">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="country" class="font-medium">{{ 'manage-branding-component-COUNTRY_LABEL' | translate }}</label>
                            <input type="text" pInputText formControlName="country">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label class="font-medium">{{ 'manage-branding-component-CORPORATE_ADMIN_LABEL' | translate }}</label>
                            <input type="text" pInputText formControlName="main_user">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label class="font-medium">{{ 'manage-branding-component-CITY_LABEL' | translate }}</label>
                            <input type="text" pInputText formControlName="city">
                        </div>
                    </div>
                    <div class="col-12">
                        <button [loading]="loading" pButton pRipple label="{{ 'manage-branding-component-SAVE_BUTTON' | translate }}" class="w-auto mt-3"></button>
                        <!-- <button (click)="resetform()" pButton pRipple label="{{ 'manage-branding-component-UNDO_CHANGES_BUTTON' | translate }}" class="w-auto mt-3" icon="pi pi-replay" [style]="{'margin-left':'8px'}"></button> -->
                        <!-- <div class="card flex justify-content-center gap-2">
                            <p-confirmPopup></p-confirmPopup>
                            <p-button (click)="confirm($event)" icon="pi pi-check" label="{{ 'manage-branding-component-CONFIRM_BUTTON' | translate }}"></p-button>
                        </div> -->
                    </div>
                    <p-dialog header="Header" [(visible)]="dialogVisible" [style]="{ width: '80vw' }" [modal]="true">
                        <ng-template pTemplate="header">
                            <span class="text-xl font-bold">{{ 'manage-branding-component-LOGO_SETUP' | translate }}</span>
                        </ng-template>
                        <div class="flex gap-5 flex-column-reverse md:flex-row">
                            <div class="flex-auto p-fluid">
                                <div class="mb-4">
                                    <label for="website" class="block font-normal text-900 mb-2">{{ 'manage-branding-component-URL_LABEL' | translate }}</label>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">https://</span>
                                        <input id="website" type="text" pInputText formControlName="url">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-save" (click)="SuccessAlert(); dialogVisible = false" label="{{ 'manage-branding-component-SAVE_CHANGES_BUTTON' | translate }}" styleClass="p-button-text"></p-button>
                            <p-button (click)="CancelAlert(); dialogVisible = false" label="{{ 'manage-branding-component-CANCEL_BUTTON' | translate }}" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>
                </form>
            </div>
        </div>
    </section>
</section>

<!-- Toast Overlays -->
<p-toast></p-toast>

<!-- skelleton -->
<section *ngIf="UILoaded==false" class="surface-overlay px-4 lg:px-6 py-4 px-4 lg:px-6 border-top-1 surface-border">
    <div class="border-bottom-1 surface-border">
        <h2 class="mt-0 mb-2 text-900 font-bold text-4xl" style="font-family: 'Poppins', sans-serif;">{{ 'manage-branding-component-TITLE' | translate }}</h2>
        <p class="mt-0 mb-5 text-700 font-normal text-base">{{ 'manage-branding-component-DESCRIPTION' | translate }}</p>
    </div>
    <section class="flex flex-wrap gap-3 py-6 justify-content-between border-bottom-1 surface-border">
        <div class="flex-shrink-0 w-15rem">
            <div style="margin-bottom: 20px;">
                <p-skeleton width="5rem" styleClass="mb-2" [style]="{'margin-bottom': '50px'}" borderRadius="16px"></p-skeleton>
            </div>
            <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
            <div style="margin-top: 40px;">
                <p-skeleton width="10.5rem" height="3rem" class="flex-1 md:flex-none border-round"></p-skeleton>
            </div>
        </div>
        <div class="overflow-x-scroll">
            <p-skeleton width="80vw" height="20rem"></p-skeleton>
        </div>
    </section>
</section>