<p-toast position="top-center"></p-toast>

<!-- TODO: Crear ticket modal! -->

<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="border-round">
            <ul class="list-none p-0 m-0">
                <p-table #dt [rowHover]="true" [globalFilterFields]="['attributes.subject','attributes.status']" [value]="this.reportedProblemsList" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h5 class="m-0">Tickets de Soporte</h5>
                            <form [formGroup]="SearchForm" class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input formControlName="param" pInputText type="text" placeholder="Buscar..." />
                            </form>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" style="z-index: 10;">
                        <tr>
                            <th>Titulo</th>
                            <th>Empresa</th>
                            <th>Status</th>
                            <th>Fecha</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-problem>
                        <tr (click)="openTicketModal(problem)" style="cursor: pointer;">
                            <td>{{problem.attributes.subject}}</td>
                            <td>{{problem.attributes.companyJson.name}}</td>
                            <td>
                                <p-tag severity="danger" value="Pendiente" *ngIf="problem.attributes.status == 'Pendiente'"></p-tag>
                                <p-tag severity="success" value="Resuelto" *ngIf="problem.attributes.status == 'Resuelto'"></p-tag>
                                <p-tag severity="warning" value="En Proceso" *ngIf="problem.attributes.status == 'En Proceso'"></p-tag>
                            </td>
                            <td>Oct 21 at 2:00 PM</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ul>
            <div class="flex justify-content-between pt-3">
                <button [style]="{'border-radius':'10px'}" pButton pRipple label="Nuevo Ticket" (click)="dialogoTicket=true" class="w-12 ml-2"></button>
            </div>
        </div>
    </div>
</div>

<!-- TODO: QA funcion de tickets -->

<p-dialog [(visible)]="dialogoTicket" [modal]="true" [closable]="true" [showHeader]="false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '45vw'}">
    <section class="flex flex-column w-full mt-4">
        <div class="flex w-full justify-content-between align-items-center mb-4">
            <span class="font-semibold text-base text-600"><span class="text-900"></span></span>
            <button pButton pRipple type="button" icon="pi pi-times text-sm" class="w-2rem h-2rem p-button-rounded p-button-secondary p-button-text text-600" (click)="closeTicketModal()"></button>
        </div>
        <div class="flex justify-content-between align-items-center w-full mb-4">
            <p class="font-semibold text-xl mt-0 mb-0 text-900">Ticket de Soporte</p>
            <button (click)="editTicketMode()" pButton pRipple type="button" [style]="{'border-radius':'30px'}" icon="pi pi-pencil text-sm" class="w-2rem h-2rem p-button-rounded p-button-text surface-200 text-600"></button>
        </div>
        <table>
            <tr style="height:2.5rem">
                <td class="font-medium text-base text-600">Status</td>
                <td *ngIf="!editTicket" class="font-medium text-base text-900">
                    <p-tag severity="danger" value="Pendiente" *ngIf="supportTicketForm.value.status == 'Pendiente'"></p-tag>
                    <p-tag severity="success" value="Resuelto" *ngIf="supportTicketForm.value.status == 'Resuelto'"></p-tag>
                    <p-tag severity="warning" value="En Proceso" *ngIf="supportTicketForm.value.status == 'En Proceso'"></p-tag>
                </td>
                <td *ngIf="editTicket" class="font-medium text-base text-900">
                    <!-- <input type="text" [(ngModel)]="supportTicketForm.value.status" pInputText placeholder="Aa..."/> -->
                    <p-dropdown [options]="statuces" [(ngModel)]="selectedStatus" optionLabel="status" placeholder="Seleccione un status..."></p-dropdown>
                </td>
            </tr>
            <tr style="height:2.5rem">
                <td class="font-medium text-base text-600">Empresa</td>
                <td class="font-medium text-base text-900">{{supportTicketForm.value.companyName}}</td>
            </tr>
            <tr style="height:2.5rem">
                <td class="font-medium text-base text-600">Cuenta Vinculada</td>
                <td>
                    <div class="flex align-items-center">
                        <span class="font-medium text-base text-900">{{supportTicketForm.value.accountName}}</span>
                    </div>
                </td>
            </tr>
            <tr style="height:2.5rem">
                <td class="font-medium text-base text-600">Fecha</td>
                <td class="font-medium text-base text-900">{{supportTicketForm.value.date}}</td> 
            </tr>
        </table>
        <div class="py-4 my-4">
            <p class="font-medium text-lg text-700 mt-0">Description</p>
            <p *ngIf="!editTicket" class="text-base text-900 mt-0 mb-0">{{supportTicketForm.value.description}}</p>
            <td *ngIf="editTicket" class="font-medium text-base text-900">
                <textarea rows="7" cols="80" [(ngModel)]="supportTicketForm.value.description" pInputTextarea placeholder="Aa..."></textarea>
            </td>
        </div>
        
    </section>
    <ng-template pTemplate="footer">
        <div class="flex pt-5 justify-content-end align-items-center">
            <p-button [style]="{'border-radius':'30px'}" pRipple (click)="consoleLogJsons()" icon="pi pi-code" label="Imprime en consola JSONs" class="m-0"></p-button>
            <p-button [style]="{'border-radius':'30px','margin-left':'8px'}" pRipple (click)="dialogoTicket = false" icon="pi pi-times" label="Cancelar" class="m-0"></p-button>
            <p-button [style]="{'border-radius':'30px','margin-left':'8px'}" pRipple (click)="updateTicket()" icon="pi pi-save" label="Guardar" class="m-0"></p-button>
        </div>
    </ng-template>
</p-dialog>
